<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.blockcom.board.mapper.FileMapper">

	<!-- File -->
	<insert id="fileUpload">
		INSERT 
			INTO 
				board_free_file
				(
					bf_idx, 
					mem_idx, 
					file_path,
					file_name, 
					file_size
				)
			VALUES 
				( 
				 	(
				 		SELECT
				 			MAX(bf_idx)
				 			FROM
				 				board_free
				 	), 
				 	#{mem_idx},  
				 	#{file_path}, 
				 	#{file_name},
				 	#{file_size}
				);
	</insert>
	
	<select id="fileDown" resultType="kr.co.blockcom.board.vo.FileVO">
		SELECT
			bff_idx,
			bf_idx,
			file_path,
			file_name,
			file_size
		FROM
			board_free_file
		WHERE
			bf_idx = #{bf_idx};
	</select>
	
	<delete id="fileDelete">
		DELETE
			FROM
				board_free_file
			WHERE
				bf_idx = #{bf_idx}
			AND
				bff_idx = #{bff_idx};	
	</delete>
	
	<insert id="updatdFileUpload">
		INSERT 
			INTO 
				board_free_file
				(
					bf_idx, 
					mem_idx, 
					file_path,
					file_name, 
					file_size
				)
			VALUES 
				( 
				 	#{bf_idx}, 
				 	#{mem_idx},  
				 	#{file_path}, 
				 	#{file_name},
				 	#{file_size}
				);
	</insert>
</mapper>	
	